$subtablet: 980px;

.embla {
  --slide-spacing: 0px;
  --slide-size: 100%;
  --slide-height: 40px;
  padding: 0px;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  flex-direction: column;
  height: calc(var(--slide-spacing) + var(--slide-height));
  margin-top: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
  position: relative;
}

.wrapper {
  background-color: var(--primary-color);
  font-style: bold;
  position: relative;
  color: white;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  word-spacing: 0.09rem;
  .notiContainer {
    font-weight: 600;
    height: 40px;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .notiContainer > span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    animation: slide 6s infinite;
    font-weight: bold;
  }
  @keyframes slide {
    0% {
      top: 0;
    }
    33% {
      top: -40px;
    }
    66% {
      top: -80px;
    }
  }
}

.headerSocial {
  position: absolute;
  left: 0px;
  top: 0px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  overflow: hidden;
  word-wrap: break-word;
  background-color: var(--primary-color);
  z-index: 11;

  a,
  .searchBtn {
    float: left;
    width: 25px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
    &:hover {
      color: var(--primary-next-color);
    }
  }
}

@media (max-width: $subtablet) {
  .headerSocial {
    display: none;
  }
}
