$desktop: 1280;
$tablet: 1024px;
$subtablet: 980px;
$mobile: 375px;
$navbar-height: 55px;

.search {
  font-size: 20px;
  color: #121212;
}
.responsiveLogo {
  display: none;
}

@media (max-width: $subtablet) {
  .responsiveLogo {
    display: block;
    img {
      height: 5rem;
      width: auto;
      margin: 0 auto;
      object-fit: cover;
    }
  }
}

.wrapper {
  background-color: var(--next-bg-color);
  position: relative;

  &__hamburgerBar {
    height: 100%;
    background-color: inherit;
  }
  &__headerLeft {
    height: 100%;
    background-color: inherit;
    img {
      width: auto !important;
      height: $navbar-height !important;
      object-fit: cover;
    }
  }
  &__headerCenter {
    position: relative;
    height: 100%;
    background-color: inherit;
  }
  &__headerRight {
    height: 100%;
    background-color: inherit;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: right;
    overflow: hidden;
    .searchBar {
      cursor: pointer;
      width: 200px;
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 15px;
      &:hover {
        color: var(--next-secondary-color);
      }
      &__title {
        font-family: Be Vietnam;
        opacity: 0.7;
        font-size: 15px;
        padding-right: 8px;
        font-style: italic;
        color: var(--secondary-text-color);
      }
    }
    .cart {
      &:hover {
        color: var(--primary-color);
      }
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 22px;
      &__amount {
        background-color: var(--primary-color);
        font-size: 9px;
        color: #fff;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 20px;
      }
    }
  }

  @media (min-width: $subtablet) {
    width: 100%;
    display: flex;
    align-items: center;
    &__headerLeft {
      width: max-content;
      .headerSocial {
        .searchBtn {
          display: none;
        }
      }
    }
    &__headerCenter {
      position: relative;
      flex: 1;

      .mainMenu {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        background-color: inherit;
        &__menuItem {
          background-color: inherit;
          cursor: pointer;
          font-family: Be Vietnam;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.5px;
          padding: 30px 20px;
          color: var(--primary-text-color);
          // padding-right: 45px;
          &__navLink {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0px 5px;
          }
          &:hover {
            color: var(--secondary-text-color);
            .dropdownMenuContainer {
              opacity: 1;
              transform: translateY(0);
              visibility: visible;
            }
          }
          .dropdownMenuContainer {
            color: var(--primary-text-color);
            min-width: 220px;
            width: max-content;
            position: absolute;
            top: 100%;
            z-index: 1000;
            float: left;
            text-align: left;
            background-color: inherit;
            transform: translateY(10px);
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;

            .dropdownMenu {
              background-color: inherit;
              box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05),
                0 6px 20px 0 rgba(0, 0, 0, 0.05);
              &__item {
                background-color: inherit;
                position: relative;
                &__title {
                  padding: 12px 10px 12px 12px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }

                &:hover {
                  color: var(--secondary-text-color);
                  .subMenuDropdownContainer {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0);
                  }
                }

                .subMenuDropdownContainer {
                  color: var(--primary-text-color);
                  min-width: 220px;
                  width: max-content;
                  background-color: inherit;
                  position: absolute;
                  left: calc(100% + 5px);
                  top: 10px;
                  transform: translateX(10px);
                  transition: all 0.3s;
                  opacity: 0;
                  visibility: hidden;
                  .subMenuDropdown {
                    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.05),
                      0 6px 20px 0 rgba(0, 0, 0, 0.05);
                    &__item {
                      &:hover {
                        color: var(--secondary-text-color);
                      }
                      &__title {
                        padding: 12px 10px 12px 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &__headerRight {
      width: max-content;
    }
    &__hamburgerBar {
      display: none;
    }
  }
  @media (max-width: $subtablet) {
    position: relative;
    height: max-content;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 4px;

    &__headerLeft {
      img {
        display: none;
      }
    }

    &__hamburgerBar {
      background-color: inherit;
      font-size: 20px;
      display: flex;
      align-items: center;
      padding-left: 30px;
      cursor: pointer;
    }
    &__headerCenter {
      position: relative;
      grid-row-start: 2;
      grid-column: 1 / span 2;
      height: max-content;
      .mainMenu {
        overflow-y: hidden;
        &__menuItem {
          border-top: 1px solid #e2e2e2;
          &__navLink {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 30px;
            &__title {
              cursor: pointer;
            }
            &__iconWrapper {
              transition: all 0.3s;
              transform: rotate(0);
              // color: red;
              i {
                transition: all 0.3s;
              }

              // &:hover ~ .mainMenu__menuItem__navLink__title {
              //   color: yellow !important;
              // }

              // &:hover {
              //   i {
              //     transition: all 0.3s;
              //     transform: rotate(-90deg);
              //   }
              // }
            }
          }
          &:hover {
            .mainMenu__menuItem__navLink__iconWrapper {
              i {
                transition: all 0.3s;
                transform: rotate(-90deg);
              }
            }
          }
          &:hover {
            .dropdownMenuContainer {
              max-height: 400px;
              overflow: scroll;
              transition: max-height 0.2s ease-in;
            }
          }
          .dropdownMenuContainer {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: rgba(#c5bab0b6, 0.1);
            .dropdownMenu {
              &__item {
                border-top: 1px solid #e2e2e2;
                i {
                  transition: all 0.3s;
                  transform: rotate(90deg);
                }
                &__title {
                  padding: 12px 30px 12px 50px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                &:hover {
                  i {
                    transition: all 0.3s;
                    transform: rotate(0deg);
                  }
                  .subMenuDropdownContainer {
                    background-color: rgba(#c5bab0cb, 0.1);
                    max-height: 400px;
                    overflow: scroll;
                    transition: max-height 0.2s ease-in;
                  }
                }
                .subMenuDropdownContainer {
                  max-height: 0;
                  overflow: hidden;
                  transition: max-height 0.2s ease-out;
                  .subMenuDropdown {
                    &__item {
                      cursor: pointer;
                      // border-top: 1px solid #e2e2e2;
                      padding: 12px 30px 12px 70px;
                      &__title {
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .mainMenuExpand {
        max-height: 700px;
        transition: max-height 0.5s ease-in;
      }
      .mainMenuCollapse {
        max-height: 0;
        transition: max-height 0.5s ease-out;
      }
    }
    &__headerRight {
      display: none;
    }

    //----
  }
  @media (max-width: $tablet) {
  }
}
