$navbar-height: 55px;

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 100%;
  width: 100%;
  // overflow: hidden;
}
.navbar {
  grid-row-start: 1;
  width: 100%;
  z-index: 1000;
  height: max-content;
  min-height: $navbar-height;
  background-color: var(--secondary-color);
}

.main {
  grid-row-start: 2;
  width: 100%;
}
.footer {
  grid-row-start: 3;
  min-height: 55px;
}
