$navbar-height: 55px;

// $large-desktop: 1440px;

.container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--next-bg-color);
  // padding-left: 16px;
  // padding-right: 16px;
}

.navbar {
  width: 100%;
  min-height: $navbar-height;
  background-color: var(--primary-bg-color);
}

.main {
  width: 100%;
  margin-top: 1rem;
}
.footer {
  min-height: 55px;
  background-image: url("https://cdn.shopify.com/s/files/1/0608/3054/8189/files/obh-f.png?v=1649987021");
  background-color: #f8f0e9;
  padding-top: 48px;
}

// @media (min-width: $large-desktop) {
//   .container{
//    padding-left: 64px;
//    padding-right: 64px;
//   }
//  }
